.background_login {
	background-color:#92A8D1;
}

.form_login {
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
	width:350px;
	height:270px;
	padding:20px;
	background-color:#FFFFFF;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-o-border-radius:10px;
	border-radius:10px;
	-webkit-box-shadow:0px 0px 7px rgba(0,0,0,0.5);
	-moz-box-shadow:0px 0px 7px rgba(0,0,0,0.5);
	box-shadow:0px 0px 7px rgba(0,0,0,0.5);
}

.bold {
	font-weight: bold;
}

/*-----------------------------------------------------------------------------------------------------------------------------------------------------------*/

.navbar-custom-1 {
	background-color: #428bca;
	border-color: #337ab7;
	background-image: -webkit-gradient(linear, left 0%, left 100%, from(#6aa3d5), to(#428bca));
	background-image: -webkit-linear-gradient(top, #6aa3d5, 0%, #428bca, 100%);
	background-image: -moz-linear-gradient(top, #6aa3d5 0%, #428bca 100%);
	background-image: linear-gradient(to bottom, #6aa3d5 0%, #428bca 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6aa3d5', endColorstr='#ff428bca', GradientType=0);
}

.navbar-custom-1 .navbar-brand {
	color: #ffffff;
}

.navbar-custom-1 .navbar-brand:hover,
.navbar-custom-1 .navbar-brand:focus {
	color: #e6e6e6;
	background-color: transparent;
}

.navbar-custom-1 .navbar-text {
	color: #ffffff;
}

.navbar-custom-1 .navbar-nav > li:last-child > a {
	border-right: 1px solid #337ab7;
}

.navbar-custom-1 .navbar-nav > li > a {
	color: #ffffff;
	border-left: 1px solid #337ab7;
}

.navbar-custom-1 .navbar-nav > li > a:hover,
.navbar-custom-1 .navbar-nav > li > a:focus {
	color: #c0c0c0;
	background-color: transparent;
}

.navbar-custom-1 .navbar-nav > .active > a,
.navbar-custom-1 .navbar-nav > .active > a:hover,
.navbar-custom-1 .navbar-nav > .active > a:focus {
	color: #c0c0c0;
	background-color: #337ab7;
	background-image: -webkit-gradient(linear, left 0%, left 100%, from(#337ab7), to(#5094ce));
	background-image: -webkit-linear-gradient(top, #337ab7, 0%, #5094ce, 100%);
	background-image: -moz-linear-gradient(top, #337ab7 0%, #5094ce 100%);
	background-image: linear-gradient(to bottom, #337ab7 0%, #5094ce 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff5094ce', GradientType=0);
}

.navbar-custom-1 .navbar-nav > .disabled > a,
.navbar-custom-1 .navbar-nav > .disabled > a:hover,
.navbar-custom-1 .navbar-nav > .disabled > a:focus {
	color: #cccccc;
	background-color: transparent;
}

.navbar-custom-1 .navbar-toggle {
	border-color: #dddddd;
}

.navbar-custom-1 .navbar-toggle:hover,
.navbar-custom-1 .navbar-toggle:focus {
	background-color: #dddddd;
}

.navbar-custom-1 .navbar-toggle .icon-bar {
	background-color: #cccccc;
}

.navbar-custom-1 .navbar-collapse,
.navbar-custom-1 .navbar-form {
	border-color: #3379b5;
}

.navbar-custom-1 .navbar-nav > .dropdown > a:hover .caret,
.navbar-custom-1 .navbar-nav > .dropdown > a:focus .caret {
	border-top-color: #c0c0c0;
	border-bottom-color: #c0c0c0;
}

.navbar-custom-1 .navbar-nav > .open > a,
.navbar-custom-1 .navbar-nav > .open > a:hover,
.navbar-custom-1 .navbar-nav > .open > a:focus {
	background-color: #337ab7;
	color: #c0c0c0;
}

.navbar-custom-1 .navbar-nav > .open > a .caret,
.navbar-custom-1 .navbar-nav > .open > a:hover .caret,
.navbar-custom-1 .navbar-nav > .open > a:focus .caret {
	border-top-color: #c0c0c0;
	border-bottom-color: #c0c0c0;
}
.navbar-custom-1 .navbar-nav > .dropdown > a .caret {
	border-top-color: #ffffff;
	border-bottom-color: #ffffff;
}

@media (max-width: 767) {
	.navbar-custom-1 .navbar-nav .open .dropdown-menu > li > a {
		color: #ffffff;
	}
	
	.navbar-custom-1 .navbar-nav .open .dropdown-menu > li > a:hover,
	.navbar-custom-1 .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #c0c0c0;
		background-color: transparent;
	}
	
	.navbar-custom-1 .navbar-nav .open .dropdown-menu > .active > a,
	.navbar-custom-1 .navbar-nav .open .dropdown-menu > .active > a:hover,
	.navbar-custom-1 .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #c0c0c0;
		background-color: #337ab7;
	}
	
	.navbar-custom-1 .navbar-nav .open .dropdown-menu > .disabled > a,
	.navbar-custom-1 .navbar-nav .open .dropdown-menu > .disabled > a:hover,
	.navbar-custom-1 .navbar-nav .open .dropdown-menu > .disabled > a:focus {
		color: #cccccc;
		background-color: transparent;
	}
}

.navbar-custom-1 .navbar-link {
	color: #ffffff;
}

.navbar-custom .navbar-link:hover {
	color: #c0c0c0;
}

.background_admin{
	background-color:#eaece5;
}

/*-----------------------------------------------------------------------------------------------------------------------------------------------------------*/

.no_decoration {
	color:#333333;
	text-decoration:none;
}

.no_decoration:hover {
	color:#000000;
	text-decoration:none;
}

.no_decoration:focus {
	color:#000000;
	text-decoration:none;
}

/*-----------------------------------------------------------------------------------------------------------------------------------------------------------*/

.konten_admin {
	padding:10px;
	background-color:#FFF;
	-webkit-box-shadow:0px 0px 7px rgba(0,0,0,0.5);
	-moz-box-shadow:0px 0px 7px rgba(0,0,0,0.5);
	box-shadow:0px 0px 7px rgba(0,0,0,0.5);
}

/*-----------------------------------------------------------------------------------------------------------------------------------------------------------*/

.scrolling {
	overflow-x: auto;
	white-space: nowrap;
}

.bingkai_preview_gambar {
	width:500px;
}

#uploadPreview {
	padding-top:18px;
	width:65%;
	height:65%;
	border: none;
}

/*-----------------------------------------------------------------------------------------------------------------------------------------------------------*/

@font-face {
        font-family: font_1;
        src: url(../../font/Lobster-Regular.ttf);
}
 
.font_1 {
	font-family: 'font_1';
}

@font-face {
        font-family: font_2;
        src: url(../../font/Play-Regular.ttf);
}
 
.font_2 {
	font-family: 'font_2';
}

.navbar-custom-2 {
	background-color: #5596cf;
	border-color: #3b86c8;
	background-image: -webkit-gradient(linear, left 0%, left 100%, from(#7dafda), to(#5596cf));
	background-image: -webkit-linear-gradient(top, #7dafda, 0%, #5596cf, 100%);
	background-image: -moz-linear-gradient(top, #7dafda 0%, #5596cf 100%);
	background-image: linear-gradient(to bottom, #7dafda 0%, #5596cf 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff7dafda', endColorstr='#ff5596cf', GradientType=0);
}

.navbar-custom-2 .navbar-brand {
	color: #ffffff;
}

.navbar-custom-2 .navbar-brand:hover,
.navbar-custom-2 .navbar-brand:focus {
	color: #e6e6e6;
	background-color: transparent;
}

.navbar-custom-2 .navbar-text {
	color: #ffffff;
}

.navbar-custom-2 .navbar-nav > li > a {
	color: #ffffff;
}

.navbar-custom-2 .navbar-nav > li > a:hover,
.navbar-custom-2 .navbar-nav > li > a:focus {
	color: #c0c0c0;
	background-color: transparent;
}

.navbar-custom-2 .navbar-nav > .active > a,
.navbar-custom-2 .navbar-nav > .active > a:hover,
.navbar-custom-2 .navbar-nav > .active > a:focus {
	color: #c0c0c0;
	background-color: #3b86c8;
	background-image: -webkit-gradient(linear, left 0%, left 100%, from(#3b86c8), to(#639fd3));
	background-image: -webkit-linear-gradient(top, #3b86c8, 0%, #639fd3, 100%);
	background-image: -moz-linear-gradient(top, #3b86c8 0%, #639fd3 100%);
	background-image: linear-gradient(to bottom, #3b86c8 0%, #639fd3 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3b86c8', endColorstr='#ff639fd3', GradientType=0);
}

.navbar-custom-2 .navbar-nav > .disabled > a,
.navbar-custom-2 .navbar-nav > .disabled > a:hover,
.navbar-custom-2 .navbar-nav > .disabled > a:focus {
	color: #cccccc;
	background-color: transparent;
}

.navbar-custom-2 .navbar-toggle {
	border-color: #dddddd;
}

.navbar-custom-2 .navbar-toggle:hover,
.navbar-custom-2 .navbar-toggle:focus {
	background-color: #dddddd;
}

.navbar-custom-2 .navbar-toggle .icon-bar {
	background-color: #cccccc;
}

.navbar-custom-2 .navbar-collapse,
.navbar-custom-2 .navbar-form {
	border-color: #3985c7;
}

.navbar-custom-2 .navbar-nav > .dropdown > a:hover .caret,
.navbar-custom-2 .navbar-nav > .dropdown > a:focus .caret {
	border-top-color: #c0c0c0;
	border-bottom-color: #c0c0c0;
}

.navbar-custom-2 .navbar-nav > .open > a,
.navbar-custom-2 .navbar-nav > .open > a:hover,
.navbar-custom-2 .navbar-nav > .open > a:focus {
	background-color: #3b86c8;
	color: #c0c0c0;
}

.navbar-custom-2 .navbar-nav > .open > a .caret,
.navbar-custom-2 .navbar-nav > .open > a:hover .caret,
.navbar-custom-2 .navbar-nav > .open > a:focus .caret {
	border-top-color: #c0c0c0;
	border-bottom-color: #c0c0c0;
}

.navbar-custom-2 .navbar-nav > .dropdown > a .caret {
	border-top-color: #ffffff;
	border-bottom-color: #ffffff;
}

@media (max-width: 767) {
	.navbar-custom-2 .navbar-nav .open .dropdown-menu > li > a {
		color: #ffffff;
	}
	
	.navbar-custom-2 .navbar-nav .open .dropdown-menu > li > a:hover,
	.navbar-custom-2 .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #c0c0c0;
		background-color: transparent;
	}
	
	.navbar-custom-2 .navbar-nav .open .dropdown-menu > .active > a,
	.navbar-custom-2 .navbar-nav .open .dropdown-menu > .active > a:hover,
	.navbar-custom-2 .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #c0c0c0;
		background-color: #3b86c8;
	}
	
	.navbar-custom-2 .navbar-nav .open .dropdown-menu > .disabled > a,
	.navbar-custom-2 .navbar-nav .open .dropdown-menu > .disabled > a:hover,
	.navbar-custom-2 .navbar-nav .open .dropdown-menu > .disabled > a:focus {
		color: #cccccc;
		background-color: transparent;
	}
}

.navbar-custom-2 .navbar-link {
	color: #ffffff;
}

.navbar-custom-2 .navbar-link:hover {
	color: #c0c0c0;
}

.navbar-custom-3 {
	background-color: #a83017;
	border-color: #8b2813;
	background-image: -webkit-gradient(linear, left 0%, left 100%, from(#d53d1d), to(#a83017));
	background-image: -webkit-linear-gradient(top, #d53d1d, 0%, #a83017, 100%);
	background-image: -moz-linear-gradient(top, #d53d1d 0%, #a83017 100%);
	background-image: linear-gradient(to bottom, #d53d1d 0%, #a83017 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd53d1d', endColorstr='#ffa83017', GradientType=0);
}

.navbar-custom-3 .navbar-brand {
	color: #ffffff;
}

.navbar-custom-3 .navbar-brand:hover,
.navbar-custom-3 .navbar-brand:focus {
	color: #e6e6e6;
	background-color: transparent;
}

.navbar-custom-3 .navbar-text {
	color: #ffffff;
}

.navbar-custom-3 .navbar-nav > li > a {
	color: #ffffff;
}

.navbar-custom-3 .navbar-nav > li > a:hover,
.navbar-custom-3 .navbar-nav > li > a:focus {
	color: #c0c0c0;
	background-color: transparent;
}

.navbar-custom-3 .navbar-nav > .active > a,
.navbar-custom-3 .navbar-nav > .active > a:hover,
.navbar-custom-3 .navbar-nav > .active > a:focus {
	color: #c0c0c0;
	background-color: #8b2813;
	background-image: -webkit-gradient(linear, left 0%, left 100%, from(#8b2813), to(#b83419));
	background-image: -webkit-linear-gradient(top, #8b2813, 0%, #b83419, 100%);
	background-image: -moz-linear-gradient(top, #8b2813 0%, #b83419 100%);
	background-image: linear-gradient(to bottom, #8b2813 0%, #b83419 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff8b2813', endColorstr='#ffb83419', GradientType=0);
}

.navbar-custom-3 .navbar-nav > .disabled > a,
.navbar-custom-3 .navbar-nav > .disabled > a:hover,
.navbar-custom-3 .navbar-nav > .disabled > a:focus {
	color: #cccccc;
	background-color: transparent;
}

.navbar-custom-3 .navbar-toggle {
	border-color: #dddddd;
}

.navbar-custom-3 .navbar-toggle:hover,
.navbar-custom-3 .navbar-toggle:focus {
	background-color: #dddddd;
}

.navbar-custom-3 .navbar-toggle .icon-bar {
	background-color: #cccccc;
}

.navbar-custom-3 .navbar-collapse,
.navbar-custom-3 .navbar-form {
	border-color: #892713;
}

.navbar-custom-3 .navbar-nav > .dropdown > a:hover .caret,
.navbar-custom-3 .navbar-nav > .dropdown > a:focus .caret {
	border-top-color: #c0c0c0;
	border-bottom-color: #c0c0c0;
}

.navbar-custom-3 .navbar-nav > .open > a,
.navbar-custom-3 .navbar-nav > .open > a:hover,
.navbar-custom-3 .navbar-nav > .open > a:focus {
	background-color: #8b2813;
	color: #c0c0c0;
}

.navbar-custom-3 .navbar-nav > .open > a .caret,
.navbar-custom-3 .navbar-nav > .open > a:hover .caret,
.navbar-custom-3 .navbar-nav > .open > a:focus .caret {
	border-top-color: #c0c0c0;
	border-bottom-color: #c0c0c0;
}

.navbar-custom-3 .navbar-nav > .dropdown > a .caret {
	border-top-color: #ffffff;
	border-bottom-color: #ffffff;
}

@media (max-width: 767) {
	.navbar-custom-3 .navbar-nav .open .dropdown-menu > li > a {
		color: #ffffff;
	}
	
	.navbar-custom-3 .navbar-nav .open .dropdown-menu > li > a:hover,
	.navbar-custom-3 .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #c0c0c0;
		background-color: transparent;
	}
	
	.navbar-custom-3 .navbar-nav .open .dropdown-menu > .active > a,
	.navbar-custom-3 .navbar-nav .open .dropdown-menu > .active > a:hover,
	.navbar-custom-3 .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #c0c0c0;
		background-color: #8b2813;
	}
	
	.navbar-custom-3 .navbar-nav .open .dropdown-menu > .disabled > a,
	.navbar-custom-3 .navbar-nav .open .dropdown-menu > .disabled > a:hover,
	.navbar-custom-3 .navbar-nav .open .dropdown-menu > .disabled > a:focus {
		color: #cccccc;
		background-color: transparent;
	}
}

.navbar-custom-3 .navbar-link {
	color: #ffffff;
}

.navbar-custom-3 .navbar-link:hover {
	color: #c0c0c0;
}

.rb-wrap {
	position: relative;
	z-index: 1;
}

.ribbon {
	width: 70%;
	font: normal bold 16px Arial,Sans-Serif !important;
	position: relative;
	background-color: #ba89b6;
	color: white;
	text-align: center;
	padding: 1em 2em;
	margin: 0 auto 3em;
}

.ribbon:before,.ribbon:after {
	content: "";
	position: absolute;
	display: block;
	bottom: -1em;
	border: 1.5em solid #986794;
	z-index: -1;
}

.ribbon:before {
	left: -2em;
	border-right-width: 1.5em;
	border-left-color: transparent;
}

.ribbon:after {
	right: -2em;
	border-left-width: 1.5em;
	border-right-color: transparent;
}

.ribbon .ribbon-content:before,.ribbon .ribbon-content:after {
	content: "";
	position: absolute;
	display: block;
	border-style: solid;
	border-color: #804f7c transparent transparent transparent;
	bottom: -1em;
}

.ribbon .ribbon-content:before {
	left: 0;
	border-width: 1em 0 0 1em;
}

.ribbon .ribbon-content:after {
	right: 0;
	border-width: 1em 1em 0 0;
}

.shadow {
	-webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
}

.link_1 {
	color: #3073AC;
}

.link_1:hover {
	color: #B83519;
	text-decoration: none;
}

.link_1:focus {
	outline: none;
	color: #B83519;
	text-decoration: none;
}

.link_2 {
	color: #333333;
}

.link_2:hover {
	color: #B83519;
	text-decoration: none;
}

.link_2:focus {
	outline: none;
	color: #B83519;
	text-decoration: none;
}

.footer_1 {
	background-color: #3D3D3D;
	color: #FFFFFF;
	padding: 30px;
}

.footer_2 {
	background-color: #343434;
	color: #999999;
	padding: 10px;
}

.animasi_gerak:hover {
	-moz-transform:rotate(-5deg);
	-webkit-transform:rotate(-5deg);
	-o-transform:rotate(-5deg);
	transform:rotate(-5deg);
}

.animasi_gelap:hover {
	-webkit-box-shadow:0 0 5px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:0 0 5px rgba(0, 0, 0, 0.5);
	box-shadow:0 0 5px rgba(0, 0, 0, 0.5);
}

.animasi_terang:hover {
	-webkit-box-shadow:0 0 5px rgba(255, 255, 255, 0.5);
	-moz-box-shadow:0 0 5px rgba(255, 255, 255, 0.5);
	box-shadow:0 0 5px rgba(255, 255, 255, 0.5);
}

.gambar_besar {
	width:600px;
	border:1px solid #222222;
}

.border {
	border:1px solid #222222;
}

.album-thumbnails a {
	width: 80%;
	height: 250px;
	margin-right: 1px;
	position: relative;
	overflow: hidden;
	display: inline-block;
}

.album-thumbnails a img {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 100%;
	width: auto;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}

.album-thumbnails a img:hover {
	height: 300px;
}